html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--textColor);
  background-color: var(--backgroundColor);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

form {
  display: table;
  min-width: 350px;
  margin: 0 auto;
  padding: 1rem;
}

select:focus, input:focus {
  outline: none;
  border-color: #0070f3;
}

button {
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  background-color: var(--accentColor);
  color: #fff;
  cursor: pointer;
}

button svg{
  margin: 0 5px;
}

button:hover {
  background-color: var(--accentColor);
}

button:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}


#leva__root {
  display: none;
}

#leva__root.show {
  display: block;
}

.accent {
  color: var(--accentColor);
}
